.leftHead {
  font-family: 'Noto Sans KR';
  font-size: 20px;
  color: #2c2c2c;
  line-height: 48px;
}
.leftHead > ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.leftHead > ul > li {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: 119px;
  height: 96px;
  line-height: 96px;
  vertical-align: middle;
}
.rightHover > span {
  font-size: 18px;
  color: gray;
}

.rightHover > span:hover {
  font-weight: 600;
  cursor: pointer;
}
